.navbar-nav {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.logo{
    max-width: 55px;
}

.navbar-custom {
    background-color: #16A4B7 !important;
}
  
.carousel-custom {
    background-color: #16A4B7;
}
  